{% extends 'template.html.twig' %}

{% block title %}Classe Réseaux et infrastructure {% endblock %}

{% block body %}
    <h1>Classe Réseaux et infrastructure </h1>

    <table class="table">
        <thead class="">
            <tr class="">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
            

            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.email }}</td>

                <td>
                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('classe_etudiant_Infra') }}" class="btn btn-primary">Ajouter un nouveau etudiant</a>
    
    
  <input id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer" class="btn btn-success" style="margin-left:50px"/>



<script type="text/javascript">
function imprimer_page(){
  window.print();
}
</script>
{% endblock %}
