{% extends 'template.html.twig' %}

{% block title %}Liste  Matiere {% endblock %}

{% block body %}
    <h1>Liste des matiéres </h1>

    <table class="table">
        <thead>
            <tr>
            
                <th>Nom matiére</th>
                <th>Réference</th>
                <th>Classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
           
                <td>{{ matiere.nomModule }}</td>
                <td>{{ matiere.reference }}</td>
                <td>{{ matiere.classe }}</td>
                <td>
                    <a href="{{ path('gestion_module_show', {'id': matiere.id}) }}" class="btn btn-info">Détails</a>
                    <a href="{{ path('gestion_module_edit', {'id': matiere.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gestion_module_new') }}" class="btn btn-primary">Ajouter un nouveau matiére </a>
{% endblock %}
